In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path = os.getcwd() + "/NYC_taxi/"

In [15]:

train = pd.read_csv(path + "train.csv")

In [16]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id000000,1,2016-03-16 06:33:18,2016-03-16 06:34:30,1,-74.007484,40.727428,-74.005745,40.727985,N,72
1,id000001,1,2016-06-01 17:55:07,2016-06-01 17:55:26,1,-73.783371,40.643772,-73.783371,40.643772,N,19
2,id000002,1,2016-02-06 16:05:15,2016-02-06 16:13:26,1,-73.975945,40.781326,-73.965576,40.792984,N,491
3,id000003,2,2016-04-02 12:35:31,2016-04-02 12:48:20,5,-73.978981,40.762352,-73.968018,40.800503,N,769
4,id000004,1,2016-05-19 21:43:21,2016-05-19 21:54:49,1,-73.990318,40.755730,-73.987579,40.769363,N,688

In [4]:
path

'/Users/vera/Desktop/GoogleGirlHackathon/code/NYC_taxi/'